# Rust
/target/
Cargo.lock

# Node
node_modules/
*.node

# Build artifacts
*.d.ts
!ui/env.d.ts
index.js

# Test artifacts
test-store/
test-ui-store/
server/test-ui-store/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
server/dist
mutants.out/
mutants.out.old/
